﻿@using trangwebbanhangasp.Models;
@model List<trangwebbanhangasp.Models.Giohang>
@{
	ViewBag.Title = "Giohang";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
			Trang chủ<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<span class="stext-109 cl4">Giỏ hàng</span>
	</div>
</div>

<form class="bg0 p-t-75 p-b-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
				<div class="m-l-25 m-r--38 m-lr-0-xl">
					<div class="wrap-table-shopping-cart">
						<table class="table-shopping-cart">
							<tbody>
								<tr class="table_head">
									<th class="column-1" style="
    width: 150px;
">Sản phẩm</th>
									<th class="column-2"></th>
									<th class="column-3">Giá</th>
									<th class="column-4" style="text-align: left;">Số lượng</th>
									<th class="column-5" style="
    padding-left: 30px;
    padding-right: 20px;
">Tổng tiền</th>
								</tr>
								@foreach (var item in Model)
								{
								<tr class="table_row">
									<td class="column-1">
										<div class="how-itemcart1">
											<img src="~/Asserts/images/@item.sanpham.hinh_anh" alt="IMG">
										</div>
									</td>
									<td class="column-2" style="
    padding-right: 20px;
">
										@item.sanpham.ten_sp
									</td>
									<td class="column-3">@item.sanpham.gia.GetValueOrDefault(0)</td>
									<td class="column-4">
										<div class="wrap-num-product flex-w m-l-auto m-r-0">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product1" value="@item.sanpham.soluonng" style="
    border: none;
">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>
									</td>
									@{ var tonggia = @item.sanpham.gia.GetValueOrDefault(0) * @item.soluong;}
									<td class="column-5">@tonggia</td>
								</tr>

								}
							</tbody>
						</table>
					</div>

					<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
						<div class="flex-w flex-m m-r-20 m-tb-5">
							<input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Mã giảm giá">

							<div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">Áp dụng</div>
						</div>

						<div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">Cập nhập</div>
					</div>
				</div>
			</div>

			<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
				<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
					<h4 class="mtext-109 cl2 p-b-30">Tổng giá trị giỏ hàng</h4>

					<div class="flex-w flex-t bor12 p-b-13">
						<div class="size-208">
							<span class="stext-110 cl2">Tổng tiền</span>
						</div>

						<div class="size-209">
							<span class="mtext-110 cl2">1,000,000</span>
						</div>
					</div>
					<div class="flex-w flex-t bor12 p-b-13" style="
    padding-top: 10px;
">
						<div class="size-208">
							<span class="stext-110 cl2">Phí ship</span>
						</div>

						<div class="size-209">
							<span class="mtext-110 cl2">Miễn phí</span>
						</div>
					</div>

					<div class="flex-w flex-t bor12 p-t-15 p-b-30">
						<div class="size-208 w-full-ssm">
							<span class="stext-110 cl2">Giao hàng</span>
						</div>

						<div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
							<p class="stext-111 cl6 p-t-2">Nhập địa chỉ để giao hàng</p>

							<div class="p-t-15">
								<span class="stext-112 cl8">Địa diểm giao</span>





								<div class="bor8 bg0 m-b-12">
									<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="state" placeholder="Nhập tỉnh thành">
								</div>


								<div class="bor8 bg0 m-b-22">
									<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="postcode" placeholder="Nhập quận huyện">
								</div>
								<div class="bor8 bg0 m-b-22">
									<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="postcode" placeholder="Nhập phường xã">
								</div>
								<div class="bor8 bg0 m-b-22">
									<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="postcode" placeholder="Nhập địa chỉ">
								</div><div class="bor8 bg0 m-b-22">
									<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="postcode" placeholder="Nhập họ và tên">
								</div>
								<div class="bor8 bg0 m-b-22">
									<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="postcode" placeholder="Nhập số điện thoại">
								</div><div class="bor8 bg0 m-b-22">
									<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="postcode" placeholder="Nhập email (nếu có)">
								</div>

								<div class="flex-w">
									<div class="flex-c-m stext-101 cl2 size-115 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer">Lưu địa chỉ</div>
								</div>

							</div>
						</div>
					</div>

					<div class="flex-w flex-t p-t-27 p-b-33">
						<div class="size-208">
							<span class="mtext-101 cl2">Tổng tiền</span>
						</div>

						<div class="size-209 p-t-1">
							<span class="mtext-110 cl2">1,000,000</span>
						</div>
					</div>

					<button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">Thanh toán</button>
				</div>
			</div>
		</div>
	</div>
</form>
