﻿@model WebShop.Models.donhang
@using WebShop.Models;
@{
	ViewBag.Title = "Delete";
	Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}
@{
	var session = (user)Session["Taikhoan"];
}
@if (session != null)
{
	<h2>Xóa đơn hàng</h2>

	<h3>Bạn có chắc là muốn xóa đơn hàng</h3>
	<div>
		<hr />
		<dl class="dl-horizontal">

			<dt>
				Tên khách hàng
			</dt>

			<dd>
				@Html.DisplayFor(model => model.user.tenuser)
			</dd>
			<dt>
				Địa chỉ
			</dt>

			<dd>
				@Html.DisplayFor(model => model.diachi)
			</dd>

			<dt>
				Ngày tạo hóa đơn
			</dt>

			<dd>
				@Html.DisplayFor(model => model.ngay_tao_hd)
			</dd>

			<dt>
				Số điện thoại
			</dt>

			<dd>
				@Html.DisplayFor(model => model.sdt)
			</dd>

			<dt>
				Tổng tiền
			</dt>

			<dd>
				@Html.DisplayFor(model => model.tong_tien)
			</dd>


			<dt>
				Tình trạng
			</dt>

			<dd>
				@Html.DisplayFor(model => model.giaohang.status)
			</dd>

			<dt>
				Thanh toán
			</dt>

			<dd>
				@Html.DisplayFor(model => model.thanhtoan.status)
			</dd>



		</dl>

		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()

		<div class="form-actions no-color">
			<input type="submit" value="Xóa" class="btn btn-default" style="color:red; font-weight:bold"/> |
			@Html.ActionLink("Quay trở lại", "Index", "", new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" })
		</div>
		}
	</div>
}
else
{
	<h2>Bạn chưa đăng nhập</h2>
	<a href="@Url.Action("Login","Login")">
		<p style="padding-bottom: 29px;color: blue;text-decoration: underline;">Trở lại đăng nhập</p>
	</a>
}
