﻿@model WebShop.Models.donhang
@using WebShop.Models;
@{
	ViewBag.Title = "Edit";
	Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}
@{
	var session = (user)Session["Taikhoan"];
}
@if (session != null)
{
	<h2>Xác nhận đơn hàng</h2>


	using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">
			<hr />
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			@Html.HiddenFor(model => model.id_donhang)


			

			<div class="form-group">
				<label class="control-label col-md-2" for="idthanhtoan">Thanh toán</label>
				<div class="col-md-10">
					@Html.DropDownList("idthanhtoan", null, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.idthanhtoan, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Xác nhận" class="btn btn-default" />
				</div>
			</div>
		</div>
	}

		<div>
		
			@Html.ActionLink("Quay trở lại", "Index","", new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" })
		</div>

	@section Scripts {
		@Scripts.Render("~/bundles/jqueryval")
	}
}
else
{
	<h2>Bạn chưa đăng nhập</h2>
	<a href="@Url.Action("Login","Login")">
		<p style="padding-bottom: 29px;color: blue;text-decoration: underline;">Trở lại đăng nhập</p>
	</a>
}