﻿@model trangwebbanhangasp.Models.user

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<div class="container-login100" style="padding: 33px 20px;">
	<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55" style="width:600px;">
		<span class="login100-form-title p-b-32">Profile</span>
		<h1 style="
    padding-bottom: 30px;
    font-size: 16px;
    font-family: robotom;
    color: red;
"></h1>

		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-4 p-b-30" style="padding: 0px;text-align: center;padding-bottom: 10px;">
					<h1 class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="    text-align: left;font-size:14px;font-family: robotom;padding-bottom:10px;">
						Tên khách hàng
					</h1>
				</div>
				<div class="col-md-6 col-lg-8 p-b-30" style="padding:0px;">
					<h1 class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="font-size:14px;">
						@Html.DisplayFor(model => model.ten_khach_hang)
					</h1>

				</div>
				<div class="col-md-6 col-lg-4 p-b-30" style="padding: 0px;text-align: center;padding-bottom: 10px;">
					<h1 class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="    text-align: left;font-size:14px;font-family: robotom;padding-bottom:10px;">
						Tên User
					</h1>
				</div>
				<div class="col-md-6 col-lg-8 p-b-30" style="padding:0px;">
					<h1 class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="font-size:14px;">
						@Html.DisplayFor(model => model.tenuser)
					</h1>

				</div>
				<div class="col-md-6 col-lg-4 p-b-30" style="padding: 0px;text-align: center;padding-bottom: 10px;">
					<h1 class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="    text-align: left;font-size:14px;font-family: robotom;padding-bottom:10px;">
						Mật khẩu
					</h1>
				</div>
				<div class="col-md-6 col-lg-8 p-b-30" style="padding:0px;">
					<h1 class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="font-size:14px;">
						**************
					</h1>

				</div>
				<div class="col-md-6 col-lg-4 p-b-30" style="padding: 0px;text-align: center;padding-bottom: 10px;">
					<h1 class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="    text-align: left;font-size:14px;font-family: robotom;padding-bottom:10px;">
						Ngày sinh
					</h1>
				</div>
				<div class="col-md-6 col-lg-8 p-b-30" style="padding:0px;">
					<h1 class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="font-size:14px;">
						@Html.DisplayFor(model => model.ngay_sinh)
					</h1>

				</div>

				<div class="col-md-6 col-lg-4 p-b-30" style="padding: 0px;text-align: center;padding-bottom: 10px;">
					<h1 class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="    text-align: left;font-size:14px;font-family: robotom;padding-bottom:10px;">
						Email
					</h1>
				</div>
				<div class="col-md-6 col-lg-8 p-b-30" style="padding:0px;">
					<h1 class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="font-size:14px;">
						@Html.DisplayFor(model => model.mail)
					</h1>

				</div>
				<div class="col-md-6 col-lg-4 p-b-30" style="padding: 0px;text-align: center;padding-bottom: 10px;">
					<h1 class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="    text-align: left;font-size:14px;font-family: robotom;padding-bottom:10px;">
						Số điện thoại
					</h1>
				</div>
				<div class="col-md-6 col-lg-8 p-b-30" style="padding:0px;">
					<h1 class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="font-size:14px;">
						@Html.DisplayFor(model => model.sdt)
					</h1>

				</div>
				<div class="col-md-6 col-lg-4 p-b-30" style="padding: 0px;text-align: center;padding-bottom: 10px;">
					<h1 class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="    text-align: left;font-size:14px;font-family: robotom;padding-bottom:10px;">
						Giới tính
					</h1>
				</div>
				<div class="col-md-6 col-lg-8 p-b-30" style="padding:0px;">
					<h1 class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="font-size:14px;">
						@Html.DisplayFor(model => model.gioi_tinh)
					</h1>

				</div>
				<div class="col-md-6 col-lg-4 p-b-30" style="padding: 0px;text-align: center;padding-bottom: 10px;">
					<h1 class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="    text-align: left;font-size:14px;font-family: robotom;padding-bottom:10px;">
						Địa chỉ
					</h1>
				</div>
				<div class="col-md-6 col-lg-8 p-b-30" style="padding:0px;">
					<h1 class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="font-size:14px;">
						@Html.DisplayFor(model => model.dia_chi1)
					</h1>

				</div>
				<div class="container-login100-form-btn">
					<button class="login100-form-btn" type="submit" style="margin-left: 140px;color: white;margin-top: 20px;">
						@Html.ActionLink("Sửa tài khoản", "Edit", new { id = Model.id_user }, new {@style="color:white;" })
					</button>

				</div>


			</div>
		</div>

	</div>
</div>


