﻿@model trangwebbanhangasp.Models.user

@{
	ViewBag.Title = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


<div class="container-login100" style="padding: 33px 20px;">
	<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55" style="width:600px;">
		<span class="login100-form-title p-b-32">Profile</span>
		<h1 style="padding-bottom: 30px;font-size: 16px;font-family: robotom;color: red;"></h1>

		<div class="container">
			<div class="row">
				@using (Html.BeginForm(new { htmlAttributes = new { @style = "width:100%" } }))
				{
					@Html.AntiForgeryToken()

				<div class="form-horizontal">

					@Html.HiddenFor(model => model.id_user)
					@Html.ValidationSummary(true, "", new { @class = "text-danger", @style = "padding-bottom:15px;text-align:center;" })
					<div class="form-inline">
						<label class="col-md-6 col-lg-4 p-b-30" style="padding:8px 0px;text-align: center;justify-content:right;    text-align: left;font-size:14px;font-family: robotom;" for="ten_khach_hang">Tên tài khoản</label>
						<div class="col-md-6 col-lg-8 ">
							@Html.EditorFor(model => model.ten_khach_hang, new { htmlAttributes = new { @class = "form-control", @style = "font-size: 14px;    width: 300px;" } })
							@Html.ValidationMessageFor(model => model.ten_khach_hang, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-inline">
						<label class="col-md-6 col-lg-4 p-b-30" style="padding:8px 0px;text-align: center;justify-content:right;    text-align: left;font-size:14px;font-family: robotom;" for="ten_khach_hang">Tên User</label>
						<div class="col-md-6 col-lg-8 ">
							@Html.EditorFor(model => model.tenuser, new { htmlAttributes = new { @class = "form-control", @style = "font-size: 14px;    width: 300px;" } })
							@Html.ValidationMessageFor(model => model.tenuser, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-inline">
						<label class="col-md-6 col-lg-4 p-b-30" style="padding:8px 0px;text-align: center;justify-content:right;    text-align: left;font-size:14px;font-family: robotom;" for="ten_khach_hang">Mật khẩu</label>
						<div class="col-md-6 col-lg-8 ">
							@Html.EditorFor(model => model.pass, new { htmlAttributes = new { @class = "form-control", @style = "font-size: 14px;    width: 300px;" } })
							@Html.ValidationMessageFor(model => model.pass, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-inline">
						<label class="col-md-6 col-lg-4 p-b-30" style="padding:8px 0px;text-align: center;justify-content:right;    text-align: left;font-size:14px;font-family: robotom;" for="ten_khach_hang">Ngày sinh</label>
						<div class="col-md-6 col-lg-8 ">
							@Html.EditorFor(model => model.ngay_sinh, new { htmlAttributes = new { @class = "form-control", @style = "font-size: 14px;    width: 300px;" } })
							@Html.ValidationMessageFor(model => model.ngay_sinh, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-inline">
						<label class="col-md-6 col-lg-4 p-b-30" style="padding:8px 0px;text-align: center;justify-content:right;    text-align: left;font-size:14px;font-family: robotom;" for="ten_khach_hang">Email</label>
						<div class="col-md-6 col-lg-8 ">
							@Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control", @style = "font-size: 14px;    width: 300px;" } })
							@Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-inline">
						<label class="col-md-6 col-lg-4 p-b-30" style="padding:8px 0px;text-align: center;justify-content:right;    text-align: left;font-size:14px;font-family: robotom;" for="ten_khach_hang">Số điện thoại</label>
						<div class="col-md-6 col-lg-8 ">
							@Html.EditorFor(model => model.sdt, new { htmlAttributes = new { @class = "form-control", @style = "font-size: 14px;    width: 300px;" } })
							@Html.ValidationMessageFor(model => model.sdt, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-inline">
						<label class="col-md-6 col-lg-4 p-b-30" style="padding:8px 0px;text-align: center;justify-content:right;    text-align: left;font-size:14px;font-family: robotom;" for="ten_khach_hang">Giới tính</label>
						<div class="col-md-6 col-lg-8 ">
							@Html.EditorFor(model => model.gioi_tinh, new { htmlAttributes = new { @class = "form-control", @style = "font-size: 14px;    width: 300px;" } })
							@Html.ValidationMessageFor(model => model.gioi_tinh, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-inline">
						<label class="col-md-6 col-lg-4 p-b-30" style="padding:8px 0px;text-align: center;justify-content:right;    text-align: left;font-size:14px;font-family: robotom;" for="ten_khach_hang">Địa chỉ</label>
						<div class="col-md-6 col-lg-8 ">
							@Html.EditorFor(model => model.dia_chi1, new { htmlAttributes = new { @class = "form-control", @style = "font-size: 14px;    width: 300px;" } })
							@Html.ValidationMessageFor(model => model.dia_chi1, "", new { @class = "text-danger" })
						</div>
					</div>




					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit" style="margin-left: 140px;color: white;margin-top: 20px;">
							@Html.ActionLink("Lưu", "Edit", new { id = Model.id_user }, new { @style = "color:white;" })
						</button>

					</div>
				</div>


				}

			</div>
		</div>

	</div>
</div>


<div>
	@Html.ActionLink("Back to List", "Index")
</div>


