﻿@model WebShop.Models.user
@using WebShop.Models;
@{
	ViewBag.Title = "Thông tin chi tiết của User";
	Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}
@{
	var session = (user)Session["Taikhoan"];
}
@if (session != null)
{
	<h2>Thông tin chi tiết của User</h2>

	<div style="height:320px;">

		<hr />
		<dl class="dl-horizontal">
			<dt>
				Tên User
			</dt>

			<dd>
				@Html.DisplayFor(model => model.tenuser)
			</dd>


			<dt>
				Nhóm
			</dt>
			
			@if (session.nhom == "1")
			{
				<dd>
					Admin
				</dd>
			}
			else
			{
				<dd>
					Người dùng
				</dd>
			}


			<dt>
				Tên khách hàng
			</dt>

			<dd>
				@Html.DisplayFor(model => model.ten_khach_hang)
			</dd>

			<dt>
				Số điện thoại
			</dt>

			<dd>
				@Html.DisplayFor(model => model.sdt)
			</dd>

			<dt>
				Giới tính
			</dt>

			<dd>
				@Html.DisplayFor(model => model.gioi_tinh)
			</dd>

			<dt>
				Địa chỉ
			</dt>

			<dd>
				@Html.DisplayFor(model => model.dia_chi1)
			</dd>

			<dt>
				Email
			</dt>

			<dd>
				@Html.DisplayFor(model => model.mail)
			</dd>

			<dt>
				Ngày sinh
			</dt>

			<dd>
				@Html.DisplayFor(model => model.ngay_sinh)
			</dd>

		</dl>
	</div>
	<p>
		@Html.ActionLink("Sửa", "Edit", new { id = Model.id_user }, new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" }) |
		@Html.ActionLink("Quay trở lại", "Index","", new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" })
	</p>
}
else
{
	<h2>Bạn chưa đăng nhập</h2>
	<a href="@Url.Action("Login","Login")">
		<p style="padding-bottom: 29px;color: blue;text-decoration: underline;">Trở lại đăng nhập</p>
	</a>
}