﻿
@{
	ViewBag.Title = "dangnhapthanhcong";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="limiter">
	<div class="container-login100" style="padding: 33px 20px;">
		<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
			
			<h1></h1>
			<form action="/Dangkydangnhap/Dangnhap" method="post">
				<div class="form-group">

					<div class="container">
						<span class="login100-form-title p-b-32" style="text-align: center;color: #fb4646;font-size: 33px;padding-top: 50px;padding-bottom: 50px;">Đăng ký thành công</span>
					</div>

					<div class="row" style="justify-content: center; padding-top: 20px;padding-bottom: 20px;">
						<div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10" style="
    max-width: 250px; background:#333333;">
							<a href="/Dangkydangnhap/Dangnhap" style="color:white;">Đăng nhập</a>
						</div>
					</div>
					<div class="row" style="justify-content: center; padding-top: 40px;padding-bottom: 80px;">
						<div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10" style="
    max-width: 250px; background:#333333;" >
							<a href="/Trangchu/Trangchu" style="color:white;">Quay trở lại mua sắm</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
