﻿@model trangwebbanhangasp.Models.DangkyModel


@{
	ViewBag.Title = "Dangnhap";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
			@using (Html.BeginForm("Dangky", "Dangkydangnhap", FormMethod.Post))
			{
				@Html.AntiForgeryToken()

				<div class="form-horizontal">
					<span class="login100-form-title p-b-32" style="padding-bottom: 20px;">Đăng ký</span>
					@if (ViewBag.Success == null)
					{
						@Html.ValidationSummary(true, "", new { @class = "text-danger", @style = "padding-bottom:15px;text-align:center;" })
					}
					else
					{
						<h2 style="padding-bottom: 20px;font-family:robotom; font-size: 20px; text-align: center;color: #f50303c7;">@ViewBag.Success</h2>
					}
					<div class="form-group">
						<span class="txt1 p-b-11">Tên tài khoản</span>
						<div class="col-md-10" style="padding: 0px; margin: 0px;max-width: 100%;">
							@Html.EditorFor(model => model.tenuser, new { htmlAttributes = new { @class = "form-control", @style = "height: 50px;margin-top: 10px;" } })
							@Html.ValidationMessageFor(model => model.tenuser, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						<span class="txt1 p-b-11">Mật khẩu</span>
						<div class="col-md-10" style="padding: 0px; margin: 0px;max-width: 100%;">
							@Html.PasswordFor(model => model.pass, new { @class = "form-control", @style = "width: 100%;height: 50px; " })
							@Html.ValidationMessageFor(model => model.pass, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<span class="txt1 p-b-11">Nhập lại mật khẩu</span>
						<div class="col-md-10" style="padding: 0px; margin: 0px;max-width: 100%;">
							@Html.PasswordFor(model => model.repass, new { @class = "form-control", @style = "width: 100%;height: 50px; " })
							@Html.ValidationMessageFor(model => model.repass, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<span class="txt1 p-b-11">Họ và tên</span>
						<div class="col-md-10" style="padding: 0px; margin: 0px;max-width: 100%;">
							@Html.EditorFor(model => model.ten_khach_hang, new { htmlAttributes = new { @class = "form-control", @style = "width: 100%;height: 50px; " } })
							@Html.ValidationMessageFor(model => model.ten_khach_hang, "", new { @class = "text-danger" })
						</div>
					</div>



					<div class="form-group">
						<span class="txt1 p-b-11">Số điện thoại</span>
						<div class="col-md-10" style="padding: 0px; margin: 0px;max-width: 100%;">
							@Html.EditorFor(model => model.sdt, new { htmlAttributes = new { @class = "form-control", @style = "width: 100%;height: 50px; " } })
							@Html.ValidationMessageFor(model => model.sdt, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						<span class="txt1 p-b-11">Giới tính</span>
						<div class="col-md-10" style="padding: 0px; margin: 0px;max-width: 100%;">
							@Html.EditorFor(model => model.gioi_tinh, new { htmlAttributes = new { @class = "form-control", @style = "width: 100%;height: 50px; " } })
							@Html.ValidationMessageFor(model => model.gioi_tinh, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						<span class="txt1 p-b-11">Email</span>
						<div class="col-md-10" style="padding: 0px; margin: 0px;max-width: 100%;">
							@Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control", @style = "width: 100%;height: 50px; " } })
							@Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
						</div>
					</div>


					

					<div class="container-login100-form-btn" style="width: 150px;margin-left: 110px;margin-top: 25px;">
						<div class="login100-form-btn">
							<button type="submit" id="btnSubmit"
									style="background: #333333;color: white;font-family: robotob;font-size: 18px;">
								Đăng ký
							</button>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>

