﻿@using trangwebbanhangasp.Models;
@model sanpham
@{
	ViewBag.Title = "Chitietsanpham";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="sec-product-detail bg0 p-t-65 p-b-60" style="
    padding-top: 75px;
    padding-bottom: 0px;
">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-4 p-b-30">
				<div class="p-l-25 p-r-30 p-lr-0-lg">
					<div class="wrap-slick3 flex-sb flex-w">
						<div class="slick3 gallery-lb slick-initialized slick-slider slick-dotted" style="width:100%;">
							<div class="slick-list draggable">
								<div class="slick-track" style="opacity: 1; width: 1236px;">
									<div class="item-slick3 slick-slide slick-current slick-active" data-thumb="images/product-detail-01.jpg" data-slick-index="0" aria-hidden="false" tabindex="0" role="tabpanel" id="slick-slide10" aria-describedby="slick-slide-control10" style="width: 26%; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
										<div class="wrap-pic-w pos-relative">
											@if (Model.phantramgiamgia != 0)
											{
												if (Model.id_loaihang == 1)
												{
													<img src="~/Asserts/hinhanh/ao/@Model.hinh_anh" alt="IMG-PRODUCT">
												}
												else if (Model.id_loaihang == 2)
												{
													<img src="~/Asserts/hinhanh/quan/@Model.hinh_anh" alt="IMG-PRODUCT">
												}
												else if (Model.id_loaihang == 3)
												{
													<img src="~/Asserts/hinhanh/giay/@Model.hinh_anh" alt="IMG-PRODUCT">
												}

												<div class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-01.jpg" tabindex="0" style="color: #ffffff;background: #00000087;">
													5%
												</div>

											}
											else
											{
												if (Model.id_loaihang == 1)
												{
													<img src="~/Asserts/hinhanh/ao/@Model.hinh_anh" alt="IMG-PRODUCT">
												}
												else if (Model.id_loaihang == 2)
												{
													<img src="~/Asserts/hinhanh/quan/@Model.hinh_anh" alt="IMG-PRODUCT">
												}
												else if (Model.id_loaihang == 3)
												{
													<img src="~/Asserts/hinhanh/giay/@Model.hinh_anh" alt="IMG-PRODUCT">
												}
											}
										</div>
									</div>

								</div>
							</div>




						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-5 p-b-30">
				<div class="p-r-50 p-t-5 p-lr-0-lg" style="padding-right: 20px;">
					<h4 class="mtext-105 cl2 js-name-detail p-b-14">
						@Model.ten_sp
					</h4>
					@if (Model.phantramgiamgia == 0)
					{
						<p class="mtext-106 cl2" style="padding-bottom:10px;">
							Giá: @String.Format("{0:0,0}", Model.gia) VNĐ
						</p>
					}
					else
					{
						<p class="stext-102 cl3 p-t-23" style="text-decoration: line-through;padding-bottom:10px;padding-top:10px;">
							Giá cũ: @String.Format("{0:0,0}", Model.gia) VNĐ
						</p>
						<span class="mtext-106 cl2">
							Giá mới: @String.Format("{0:0,0}", Model.gia - (Model.gia * Model.phantramgiamgia / 100)) VNĐ
						</span>
					}
					@if (Model.soluonng == 0)
					{
						<div class="container">
							<div class="row">
								<img src="~/Asserts/hinhanh/4me-icon-red-dot-300x300.png" style="height:27px;margin:7px;" alt="IMG-PRODUCT">
								<p style="padding-top:10px;">Hết hàng</p>

							</div>
						</div>

					}
					else
					{
						<div class="container">
							<div class="row">
								<img src="~/Asserts/hinhanh/green-dot-small.svg.hi.png" style="height:15px;margin:12px;" alt="IMG-PRODUCT">
								<p style="padding-top:10px;">Số lượng: @Model.soluonng</p>

							</div>
						</div>
					}
					<div class="container" style="margin-bottom: 20px;padding-top:15px;">
						<div class="row">
							<p style="margin-left: 25px;margin-right: 47px;width:70px;">Size</p>
							<button type="button" style="border-style: solid;padding: 0 8px;border-radius: 6px;border-color: gray;border-width: 1px;color: #666666;margin: 0 10px;">
								@Model.size
							</button>

						</div>
					</div>
					<div class="container" style="margin-bottom: 20px;">
						<div class="row">
							<p style="margin-left: 25px;margin-right: 47px;width:70px;">Màu sắc</p>
							<button type="button" style="border-style: solid;padding: 0 8px;border-radius: 6px;border-color: gray;border-width: 1px;color: #666666;margin: 0 10px;">
								@Model.mo_ta_mau_sac
							</button>

						</div>
					</div>
					<div class="container" style="margin-bottom: 20px;">
						<div class="row">
							<p style="margin-left: 25px;margin-right: 47px;width:70px;">Kiểu dáng</p>
							<button type="button" style="border-style: solid;padding: 0 8px;border-radius: 6px;border-color: gray;border-width: 1px;color: #666666;margin: 0 10px;">
								@Model.mo_ta_kieu_dang
							</button>

						</div>
					</div>

					<!--  -->
					<div class="p-t-33">

						<div class="flex-w flex-r-m p-b-10">
							<div class=" flex-w flex-m respon6-next">

								@using (Html.BeginForm("themgiohang", "Cart", new { @idsp = Model.id, @url = Request.Url.ToString() }))
								{

									<input class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail
" type="submit" value="Thêm vào giỏ hàng" id="btnGiohang" style="border:none;" />
								}

							</div>
						</div>
					</div>

					<!--  -->

				</div>
			</div>

			<div class="col-md-6 col-lg-3 p-b-30" style="padding:0px;">
				@*Chen vao danh muc*@
				@Html.Action("Sanphamhot", "Trangchu")
			</div>
		</div>


	</div>

	<div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15" style="
    margin-top: 10px;
">


		<h3 class="ltext-106 cl5 txt-center">Sản phẩm liên quan</h3>
	</div>
</section>
<section class="sec-relate-product bg0 p-t-45 p-b-105" style="
    padding-top: 20px; padding-bottom: 20px;
">
	<div class="container">



		<div class="wrap-slick2">
			<div class="container" style="
    padding: 0 50px;
">
				<div class="row">
					@*Chen vao san pham hot*@
					@Html.Action("GoiyAo", "Trangchu")

				</div>
			</div>
		</div>
	</div>
</section>


