﻿@using trangwebbanhangasp.Models;
@model List<phanloai>


@foreach (var item in Model)
{

	<a href="@Url.Action("sanphamtheodanhmucAo",new { @idphanloai=item.id_phanloai})" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" style="font-size:14px;margin-right: 15px;" data-filter=".women">@item.ten_phanloai</a>

}