﻿@using trangwebbanhangasp.Models;
@model List<sanpham>
@{
	ViewBag.Title = "SanphamtheodanhmucAo";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg0 p-t-23 p-b-140" style="padding-bottom: 0;">
	<div class="container">
		<div class="p-b-10">
			<h3 class="ltext-103 cl5">Tổng quan sản phẩm của BLIZZARD</h3>
		</div>

		<div class="flex-w flex-sb-m p-b-52" style="padding-bottom: 0px;">
			<div class="flex-w flex-l-m filter-tope-group m-tb-10" style="width:100%;">
				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*" style="padding-left:45px;text-align:left; width: 180px;font-size: 30px;border-bottom: none;font-family: robotob;">
					Áo
				</button>
				<div class="container" style="width:79%;">
					<div class="row" style="float: right;">
						@*Chen vao danh muc*@
						@Html.Action("Danhmucaodd", "Trangchu")
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xl-1">
					<img src="~/Asserts/images/Try Organico Orange.png" />
				</div>
				<div class="col-md-6 col-xl-10">
					<div class="container">
						<div class="row">
							@if (Model.Count == 0)
							{
								<div class="row" style="width: 100%;text-align: center;">
									<h3 style="padding-bottom: 400px;padding-top: 40px;width: 100%;font-size: 27px;font-family: robotob;">
										Không có sản phẩm nào trong mục này
									</h3>
								</div>
							}
							@{int i = 0; }
							@foreach (var item in Model)
							{
								i++;
								<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
									<div class="block2">
										<div class="block2-pic hov-img0">

											<img src="/Asserts/hinhanh/ao/@item.hinh_anh" alt="IMG-PRODUCT">

											<a href="@Url.Action("Chitietsanpham",new { @idsanpham=item.id})" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
												Xem chi tiết
											</a>
										</div>

										<div class="block2-txt flex-w flex-t p-t-14">
											<div class="block2-txt-child1 flex-col-l ">
												<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
													@item.ten_sp
												</a>

												<span class="stext-105 cl3">
													@item.gia
												</span>
											</div>

											<div class="block2-txt-child2 flex-r p-t-3">
												<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
													<img class="icon-heart1 dis-block trans-04" src="/Asserts/images/icons/icon-heart-01.png" alt="ICON">
													<img class="icon-heart2 dis-block trans-04 ab-t-l" src="/Asserts/images/icons/icon-heart-02.png" alt="ICON">
												</a>
											</div>
										</div>
									</div>
								</div>
							}
						</div>
					</div>
				</div>
				<div class="col-md-6 col-xl-1">
					<img src="~/Asserts/images/Try Organico Orange (2).png" />
				</div>
			</div>
		</div>

	</div>
</section>
