﻿@using trangwebbanhangasp.Models;
@model List<sanpham>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-lg-12 p-b-30">
			<h4 class="mtext-105 cl2 js-name-detail p-b-14" style="font-size: 20px;padding-top: 15px;text-align:center;">
				Gợi ý sản phẩm
			</h4>

			<div class="container">
				<div class="row">
					@foreach (var item in Model)
					{
						<div class="col-md-6 col-lg-4 p-b-30" style="padding: 0px;text-align: center;padding-bottom: 10px;">
							<a href="@Url.Action("Chitietsanpham","Trangchu",new { @idsanpham=item.id})">
								@if (item.id_loaihang == 1)
								{
									<img src="/Asserts/hinhanh/ao/@item.hinh_anh" style="width:60px;" alt="IMG-PRODUCT">
								}
								else if (item.id_loaihang == 2)
								{
									<img src="/Asserts/hinhanh/quan/@item.hinh_anh" style="width:60px;" alt="IMG-PRODUCT">
								}
								else if (item.id_loaihang == 3)
								{
									<img src="/Asserts/hinhanh/giay/@item.hinh_anh" style="width:60px;" alt="IMG-PRODUCT">
								}
							</a>
						</div>
						<div class="col-md-6 col-lg-8 p-b-30" style="padding:0px;">
							<a href="@Url.Action("Chitietsanpham","Trangchu",new { @idsanpham=item.id})">

								<h1 class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="font-size:14px;">@item.ten_sp</h1>
								<h1 class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6" style="font-size:14px;font-family: robotom;padding-bottom:10px;">Màu: @item.mo_ta_mau_sac</h1>
							</a>
						</div>
					}
				</div>
			</div>
		</div>
	</div>

</div>
</div>