﻿
@{
	/**/

	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Img -->
<link href="~/Asserts/nivoslider/nivo-slider.css" rel="stylesheet" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="~/Asserts/nivoslider/jquery.nivo.slider.js"></script>
<script src="~/Asserts/nivoslider/jquery.nivo.slider.pack.js"></script>
<div class="container">
	<div id="slider" class="nivoSlider" style="height: 440px;">
		<img src="~/Asserts/images/slide-07.jpg" />
		<img src="~/Asserts/images/slide-05.jpg" />
		<img src="~/Asserts/images/slide-06.jpg" />
	</div>
</div>


<!-- Banner -->
<div class="sec-banner bg0 p-t-30 p-b-50">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="~/Asserts/images/AW19-mens-clothing-landing-tile.jpg" alt="IMG-BANNER">

					<a href="~/Shop/Danhsachao" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8" style="color: white;">Áo</span>

							<span class="block1-info stext-102 trans-04" style="color: white;">Model 2019</span>
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">Mua ngay</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="~/Asserts/images/giaymua.PNG" alt="IMG-BANNER" style="height: 180px;">

					<a href="~/Shop/Danhsachquan" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8" style="color: white;">Giày</span>

							<span class="block1-info stext-102 trans-04" style="color: white;">Model 2019</span>
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">Mua ngay</div>
						</div>
					</a>
				</div>
			</div>

			<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="~/Asserts/images/quan.jpg" alt="IMG-BANNER" style="height: 180px;">

					<a href="~/Shop/Danhsachgiay" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
						<div class="block1-txt-child1 flex-col-l">
							<span class="block1-name ltext-102 trans-04 p-b-8" style="color: white;">Quần</span>

							<span class="block1-info stext-102 trans-04" style="color: white;">Trend mới nhất</span>
						</div>

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">Mua ngay</div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-6 col-xl-12 p-b-30 m-lr-auto">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<img src="~/Asserts/images/sale.png" alt="IMG-BANNER" style="height: 130px;">

					<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">

						<div class="block1-txt-child2 p-b-4 trans-05">
							<div class="block1-link stext-101 cl0 trans-09">Xem thêm</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Product -->
<section class="bg0 p-t-23 p-b-140" style="padding-bottom: 40px;">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-xl-11">
				<div class="container">
					<div class="p-b-10">
						<h3 class="ltext-103 cl5" style="font-size: 30px;">Tổng quan sản phẩm của BLIZZARD</h3>
					</div>
					@*//áo*@
					<div class="flex-w flex-sb-m p-b-52" style="padding-bottom: 0px;">
						<div class="flex-w flex-l-m filter-tope-group m-tb-10" style="width:100%;">
							<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*" style="width: 180px;font-size: 20px;border-bottom: none;font-family: robotob;padding-left:15px;">
								Áo hot tuần này
							</button>


							<div class="container" style="width:79%;">
								<div class="row" style="float: right;">
									@*Chen vao danh muc*@
									@Html.Action("Danhmucao", "Trangchu")
								</div>
							</div>
						</div>
					</div>


					@*Chen vao san pham hot*@
					@Html.Action("Aohot", "Trangchu")

					@*//quần*@
					<div class="flex-w flex-sb-m p-b-52" style="padding-bottom: 0px;">
						<div class="flex-w flex-l-m filter-tope-group m-tb-10" style="width:100%;">
							<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*" style="width: 180px;font-size: 20px;border-bottom: none;font-family: robotob;padding-left:15px;">
								Quần hot tuần này
							</button>


							<div class="container" style="width:79%;">
								<div class="row" style="float: right;">
									@*Chen vao danh muc*@
									@Html.Action("Danhmucquan", "Trangchu")
								</div>
							</div>
						</div>
					</div>

					@*Chen vao san pham hot*@
					@Html.Action("Quanhot", "Trangchu")

					@*//giày*@
					<div class="flex-w flex-sb-m p-b-52" style="padding-bottom: 0px;">
						<div class="flex-w flex-l-m filter-tope-group m-tb-10" style="width:100%;">
							<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*" style="width: 180px;font-size: 20px;border-bottom: none;font-family: robotob;padding-left:15px;">
								Giày hot tuần này
							</button>

							<div class="container" style="width:79%;">
								<div class="row" style="float: right;">
									@*Chen vao danh muc*@
									@Html.Action("Danhmucgiay", "Trangchu")
								</div>
							</div>
						</div>
					</div>

					@*Chen vao san pham hot*@
					@Html.Action("Giayhot", "Trangchu")


				</div>
			</div>
			<div class="col-md-6 col-xl-1" style="margin-left: -22px;">
				<img src="~/Asserts/images/Try Organico Orange.png" />
				<img src="~/Asserts/images/Try Organico Orange (2).png" style="padding-top: 5px;" />
			</div>
			
		</div>
	</div>

	
</section>
@*script chay slider*@
<script type="text/javascript">
	$(window).load(function () {
		$('#slider').nivoSlider({
			controlNav: false,
			nextText: '',
			prevText: '',
			pauseTime: 2000
		});
	});
</script>

