﻿

@{
	ViewBag.Title = "Danhsachsanpham";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg0 p-t-23 p-b-140">
	<div class="container">
		<div class="p-b-10">
			<h3 class="ltext-103 cl5">Tổng quan sản phẩm của BLIZZARD</h3>
		</div>



		@*Chen vao san pham hot*@
		@Html.Action("Aohot", "Shop")
		@Html.Action("Quanhot", "Shop")
		@Html.Action("Giayhot", "Shop")

	</div>
</section>
