﻿

@{
	ViewBag.Title = "Danhsachao";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg0 p-t-23 p-b-140" style="padding-bottom: 50px;">
	<div class="container">
		<div class="p-b-10">
			<h3 class="ltext-103 cl5">Tổng quan sản phẩm của BLIZZARD</h3>
		</div>
		@*//áo*@
		<div class="flex-w flex-sb-m p-b-52" style="padding-bottom: 0px;">
			<div class="flex-w flex-l-m filter-tope-group m-tb-10" style="width:100%;">
				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*" style="padding-left:45px;text-align:left; width: 180px;font-size: 30px;border-bottom: none;font-family: robotob;">
					Áo
				</button>


				<div class="container" style="width:79%;">
					<div class="row" style="float: right;">
						@*Chen vao danh muc*@
						@Html.Action("Danhmucaodd", "Trangchu")
					</div>
				</div>
			</div>
		</div>
		@*Chen vao san pham hot*@
		@Html.Action("Ao", "Shop")


		@*//quan*@

	</div>
</section>
