﻿@using trangwebbanhangasp.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<sanpham>

<div class="container">
	<div class="row">
		<div class="col-md-6 col-xl-1">
			<img src="~/Asserts/images/Try Organico Orange.png" />
		</div>
		<div class="col-md-6 col-xl-10">
			<div class="container">
				<div class="row">

					<div class="col-md-6 col-xl-12 p-b-30 m-lr-auto" style="padding-bottom:10px;">
						<!-- Block1 -->
						<div class="block1 wrap-pic-w">
							<img src="/Asserts/images/sale.png" alt="IMG-BANNER" style="height: 130px;">

							<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">

								<div class="block1-txt-child2 p-b-4 trans-05">
									<div class="block1-link stext-101 cl0 trans-09">Xem thêm</div>
								</div>
							</a>
						</div>
					</div>
					@foreach (var item in Model)
					{
						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
							<div class="block2">
								<div class="block2-pic hov-img0" style="height:232px;">

									<div class="wrap-pic-w pos-relative">
										@if (item.phantramgiamgia == 0)
										{
											<img src="/Asserts/hinhanh/giay/@item.hinh_anh" alt="IMG-PRODUCT">
										}
										else
										{
											<img src="/Asserts/hinhanh/giay/@item.hinh_anh" alt="IMG-PRODUCT">

											<div class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-01.jpg" tabindex="0" style="color: #ffffff;background: #00000087;">@item.phantramgiamgia%</div>
										}
									</div>

									<a href="@Url.Action("Chitietsanpham","Trangchu",new { @idsanpham=item.id})" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
										Xem chi tiết
									</a>
								</div>
								@{
									var giamoi = item.gia - (item.gia * item.phantramgiamgia / 100);
								}
								@if (item.phantramgiamgia == 0)
								{
									<div class="block2-txt flex-w flex-t p-t-14">
										<div class="block2-txt-child1 flex-col-l ">
											<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
												@item.ten_sp
											</a>

											<span class="stext-105 cl3" style="font-family: robotom;">
												Giá gốc: @String.Format("{0:0,0}", item.gia) VNĐ
											</span>
										</div>

										<div class="block2-txt-child2 flex-r p-t-3">
											<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
												<img class="icon-heart1 dis-block trans-04" src="~/Asserts/images/icons/icon-heart-01.png" alt="ICON">
												<img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/Asserts/images/icons/icon-heart-02.png" alt="ICON">
											</a>
										</div>
									</div>
								}
								else
								{
									<div class="block2-txt flex-w flex-t p-t-14">
										<div class="block2-txt-child1 flex-col-l ">
											<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
												@item.ten_sp
											</a>
											<div class="row">
												<span class="stext-105 cl3" style="text-decoration: line-through; font-family: robotom;padding-left:16px">
													Giá cũ: @String.Format("{0:0,0}", item.gia) VNĐ
												</span>
												<span class="stext-105 cl3" style="font-family: robotom;padding-left:15px">
													Giá mới: @String.Format("{0:0,0}", item.gia - (item.gia * item.phantramgiamgia / 100)) VNĐ
												</span>
											</div>

										</div>

										<div class="block2-txt-child2 flex-r p-t-3">
											<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
												<img class="icon-heart1 dis-block trans-04" src="~/Asserts/images/icons/icon-heart-01.png" alt="ICON">
												<img class="icon-heart2 dis-block trans-04 ab-t-l" src="~/Asserts/images/icons/icon-heart-02.png" alt="ICON">
											</a>
										</div>
									</div>
								}
							</div>
						</div>
					}
				</div>
			</div>
			Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
			<div class="menu">
				@Html.PagedListPager(Model, page => Url.Action("Danhsachao", new { page = page }))
			</div>
			<style>
				.menu {
					float: right;
					padding: 0 10px;
				}
			</style>

		</div>
		<div class="col-md-6 col-xl-1">
			<img src="~/Asserts/images/Try Organico Orange (2).png" />
		</div>
	</div>
</div>







