﻿@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<WebShop.Models.phanloai>
@using WebShop.Models;

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}

<h2>Phân loại</h2>

<button style="margin-bottom:20px;">
	@Html.ActionLink("Tạo sản phẩm mới", "Create", "", new { @style = "color: #da2a2a;font-weight:bold;" })
</button>
@using (Html.BeginForm("Index", "QuanLyPhanLoai", FormMethod.Get))
{
	@Html.TextBox("searchString")<input type="submit" value="Search" />
}
<table class="table">
	<tr>
		<th>
			Tên phân loại
		</th>

		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td width="83%">
				@Html.DisplayFor(modelItem => item.ten_phanloai)
			</td>

			<td style="padding:5px;">
				@Html.ActionLink("Sửa", "Edit", new { id = item.id_phanloai }, new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" })
				@Html.ActionLink("Chi tiết", "Details", new { id = item.id_phanloai }, new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" })
				@Html.ActionLink("Xóa", "Delete", new { id = item.id_phanloai }, new { @style = "color: red;padding:5px;font-weight: bold;", @class = "btn btn-default" })
			</td>
		</tr>
	}

</table>
<h7>Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount</h7>
<div class="MenuTrang">
	@Html.PagedListPager(Model, page => Url.Action("Index", "QuanLyPhanloai", new { page, searchString = Request.QueryString["searchString"] }))
</div>
<style>
	.MenuTrang li {
		display: inline;
	}
</style>