﻿@model WebShop.Models.sanpham
@using WebShop.Models;
@{
	ViewBag.Title = "Create";
	Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}
<script src="~/Areas/Admin/assets/ckeditor/ckeditor.js"></script>
@section jsFooter{
	<script>
		$('#btnSelectImage').on('click', function (e) {
			e.preventDefault();
			var finder = new CKFinder();
			finder.selectActionFunction = function (url) {
				$('#txtImage').val(url);
			};
			finder.popup();
		})
	</script>
}

@{
	var session = (user)Session["Taikhoan"];
}
@if (session != null)
{
	<h2>Thêm sản phẩm</h2>
	using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-horizontal">

			<hr />
			<div class="form-group">
				<p class="control-label col-md-2">Giống nhau</p>
				<div class="col-md-10">
					@Html.EditorFor(model => model.giongnhau, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.giongnhau, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<p class="control-label col-md-2">ID loại hàng</p>
				<div class="col-md-10">
					@Html.DropDownList("id_loaihang", null, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.id_loaihang, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<p class="control-label col-md-2">ID phân loại</p>
				<div class="col-md-10">
					@Html.DropDownList("id_phanloai", null, htmlAttributes: new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.id_phanloai, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<p class="control-label col-md-2">Tên sản phẩm</p>
				<div class="col-md-10">
					@Html.EditorFor(model => model.ten_sp, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.ten_sp, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<p class="control-label col-md-2">Giá</p>
				<div class="col-md-10">
					@Html.EditorFor(model => model.gia, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.gia, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<p class="control-label col-md-2">Giảm giá</p>
				<div class="col-md-10">
					@Html.EditorFor(model => model.phantramgiamgia, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.phantramgiamgia, "", new { @class = "text-danger" })
				</div>
			</div>



			<div class="form-group">
				<p class="control-label col-md-2">Size</p>
				<div class="col-md-10">
					@Html.EditorFor(model => model.size, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.size, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="form-group">
				<p class="control-label col-md-2">Số lượng</p>
				<div class="col-md-10">
					@Html.EditorFor(model => model.soluonng, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.soluonng, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<p class="control-label col-md-2">Màu sắc</p>
				<div class="col-md-10">
					@Html.EditorFor(model => model.mo_ta_mau_sac, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.mo_ta_mau_sac, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<p class="control-label col-md-2">Hình ảnh</p>
				<div class="col-md-10">
					@Html.EditorFor(model => model.hinh_anh, new { htmlAttributes = new { @class = "form-control", @id = "txtImage" }, id = "txtImage" })
					<a id="btnSelectImage" href="#">Chọn hình ảnh</a>
					@Html.ValidationMessageFor(model => model.hinh_anh, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<p class="control-label col-md-2">Kiểu dáng</p>
				<div class="col-md-10">
					@Html.TextAreaFor(model => model.mo_ta_kieu_dang, new { htmlAttributes = new { @class = "form-control", @id = "txtMota" }, id = "txtMota" })
					<script type="text/javascript">
						CKEDITOR.replace("txtMota");
					</script>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Tạo mới" class="btn btn-default" />
				</div>
			</div>
		</div>
	}

		<div>
			@Html.ActionLink("Quay trở lại", "Index", "", new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" })
		</div>
}
else
{
	<h2>Bạn chưa đăng nhập</h2>
	<a href="@Url.Action("Login","Login")">
		<p style="padding-bottom: 29px;color: blue;text-decoration: underline;">Trở lại đăng nhập</p>
	</a>
}

