﻿@model WebShop.Models.sanpham
@using WebShop.Models;
@{
	ViewBag.Title = "Chi tiết sản phẩm";
	Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}


@{
	var session = (user)Session["Taikhoan"];
}
@if (session != null)
{
	<h2>Chi tiết sản phẩm</h2>
	<div>

		<hr />
		<dl class="dl-horizontal">

			<dt>
				Tên sản phẩm
			</dt>

			<dd>
				@Html.DisplayFor(model => model.ten_sp)
			</dd>

			<dt>
				Giá
			</dt>

			<dd>
				@Html.DisplayFor(model => model.gia)
			</dd>

			<dt>
				%Sale
			</dt>

			<dd>
				@Html.DisplayFor(model => model.phantramgiamgia)
			</dd>



			<dt>
				Size
			</dt>

			<dd>
				@Html.DisplayFor(model => model.size)
			</dd>



			<dt>
				Màu sắc
			</dt>

			<dd>
				@Html.DisplayFor(model => model.mo_ta_mau_sac)
			</dd>





			<dt>
				Số lượng
			</dt>

			<dd>
				@Html.DisplayFor(model => model.soluonng)
			</dd>

			<dt>
				Loại hàng
			</dt>

			<dd>
				@Html.DisplayFor(model => model.loaihang.ten_loaihang)
			</dd>


			<dt>
				Phân loại
			</dt>

			<dd>
				@Html.DisplayFor(model => model.phanloai.ten_phanloai)
			</dd>

		</dl>
	</div>
	<p>
		@Html.ActionLink("Sửa", "Edit", new { id = Model.id }, new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" }) |
		@Html.ActionLink("Quay trở lại", "Index", "", new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" })
	</p>
}
else
{
	<h2>Bạn chưa đăng nhập</h2>
	<a href="@Url.Action("Login","Login")">
		<p style="padding-bottom: 29px;color: blue;text-decoration: underline;">Trở lại đăng nhập</p>
	</a>
}
