﻿@model WebShop.Models.phanhoi

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}

<h2>Chi tiết phản hồi</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Email của khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            Nội dung của khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noidung)
        </dd>

        <dt>
           Nội dung của shop
        </dt>

        <dd>
            @Html.Raw(Model.noidungphanhoi)
        </dd>

        <dt>
            Tiêu đề của shop
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tieude)
        </dd>

        <dt>
            Ngày gửi phản hồi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngaygui)
        </dd>

        <dt>
            Trạng thái
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statusphanhoi.status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.idphanhoi }, new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" }) |
    @Html.ActionLink("Quay trở lại", "Index","", new { @style = "color: black;padding:5px;font-weight: bold;", @class = "btn btn-default" })
</p>
