﻿
<div class="menu-desktop">
	<ul class="main-menu">

		@if (ViewBag.tongsoluong != null)
		{
			<li style="padding-top: 17px;">
				<a class="Danhsachsanpham" href="/Cart/Cart">
					<i class="zmdi zmdi-shopping-cart" style="font-size: 35px;"></i>(@ViewBag.tongsoluong)

				</a>

			</li>
		}
		else
		{
			<li style="padding-top: 17px;">
				<a class="Danhsachsanpham" href="/Cart/CartEmt	">
					<i class="zmdi zmdi-shopping-cart" style="font-size: 35px;"></i>(0)

				</a>

			</li>
		}
	</ul>
</div>
