﻿
@{
    ViewBag.Title = "CartEmt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-top:200px; text-align: center; min-height:200px;	">Không có sản phẩm nào trong giỏ hàng</h2>
<div class="container">
	<div class="row" style="justify-content: center; padding-top: 40px;padding-bottom: 400px;">
		<div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10" style="
    max-width: 250px;">
			<a href="~/Trangchu/Trangchu" style="color:black;">Quay trở lại mua sắm</a>
		</div>
	</div>
</div>