﻿
@{
    ViewBag.Title = "dathangthanhcong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 style="padding-top:200px;text-align: center;min-height:200px;font-family: robotob;color: #ff4f4f;font-size: 35px;">Đặt hàng thành công</h2>
<h2 style="padding-top: 41px;text-align: center;min-height: 10px;font-size: 20px;font-family: robotor;">Cảm ơn bạn đã đặt niềm tin vào chúng tôi</h2>
<div class="row" style="justify-content: center;padding-top: 40px;padding-bottom: 200px;">
	<div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10" style="
    max-width: 250px;">
		<a href="/Trangchu/Trangchu" style="color:black;">Quay trở lại mua sắm</a>
	</div>
</div>
