﻿@model trangwebbanhangasp.Models.user

<div class="flex-w flex-t bor12 p-t-15 p-b-30">
	<div class="flex-w flex-t bor12 p-b-13" style="padding-top: 10px;width:100%;">
		<div class="size-208">
			<span class="stext-110 cl2">
				Địa chỉ

			</span>
		</div>

		<div class="size-209">
			<span class="mtext-110 cl2">
				@Model.dia_chi1
			</span>


		</div>
	</div>

	<div class="container">
		<div class="flex-w" style="justify-content:center;margin-top:20px;">
			<button class="login100-form-btn" type="submit" style="color: white;margin-top: 20px;">
				@Html.ActionLink("Sửa địa chỉ", "Edit", new { id = Model.id_user }, new { @style = "color:white;" })
			</button>
		</div>

	</div>
</div>