﻿@model trangwebbanhangasp.Models.user

@{
	ViewBag.Title = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.id_user)

		<div class="container" style="padding-top:50px;margin:0px 300px;">
			<div class="row">

				<div class="form-inline" style="width:50%;">
					<h4 class="mtext-109 cl2 p-b-30" , style="padding:0px;">Sửa địa chỉ</h4>
					<div class="col-md-10" style="max-width:70%;">
						@Html.EditorFor(model => model.dia_chi1, new { htmlAttributes = new { @class = "form-control", @style = "width:100%;" } })
						@Html.ValidationMessageFor(model => model.dia_chi1, "", new { @class = "text-danger" })
					</div>
				</div>


				<div class="form-group" style="margin:0px;">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="Save" class="btn btn-default" style="
    color: white;
    background: #333333;
    border-radius: 15px;" />
					</div>
				</div>
			</div>
			<div style="padding:200px 0px 30px 0px;">
				<a href="/Cart/Cart" class="login100-form-btn" style="color:white;font-size:16px;width:8px;height:40px;">Quay trở lại</a>
			</div>
		</div>
	</div>
}


