﻿@using trangwebbanhangasp.Models;
@model List<Cart>
@{
	ViewBag.Title = "SuaGioHang";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
			Trang chủ<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<span class="stext-109 cl4">Giỏ hàng</span>
	</div>
</div>

<form class="bg0 p-t-75 p-b-100">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-xl-8 m-lr-auto m-b-50">
				<div class="m-l-25 m-r--38 m-lr-0-xl">
					<div class="wrap-table-shopping-cart">
						<table class="table-shopping-cart">
							<tbody>
								<tr class="table_head">
									<th style="width: 120px;text-align: center;">Hình ảnh</th>
									<th style="width: 180px;text-align: center;">Tên sản phẩm</th>
									<th style="width: 100px;text-align: center;">Giá</th>
									<th style="width: 120px;text-align: center;">Số lượng</th>
									<th style="width: 100px;text-align: center;">Tổng</th>
								</tr>
								@foreach (var item in Model)
								{
									<tr class="table_row" style="height: 120px;">
										<td class="column-1">
											<div class="how-itemcart1">
												<img src="/Asserts/hinhanh/ao/@item.hinhanh" alt="IMG">
											</div>
										</td>
										<td class="column-2" style="width: 300px;font-weight: bold;font-size:14px;padding-left: 10px;padding-right: 10px;">
											@item.tensp
										</td>
										<td class="column-3" style="text-align:center;font-family: robotom;">@String.Format("{0:0,0}", item.gia - (item.gia * item.phantram) / 100) VNĐ</td>
										<td class="column-4">
											@using (Html.BeginForm("capnhapgiohang", "Cart", new { @idsp=item.id}))
											{
											<div class="wrap-num-product flex-w m-l-auto m-r-0">
												@Html.TextBox("txtsoluong", item.soluong, new { @style = "width:50px;text-align:center;" })
												
											</div>
											}
										</td>

										<td class="column-5" style="padding-right: 0px;text-align: center;width: 120px;font-family: robotom;">
											@String.Format("{0:0,0}", (item.gia - (item.gia * item.phantram) / 100) * item.soluong) VNĐ
										</td>
									</tr>

								}
							</tbody>
						</table>
					</div>

					<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
						<div class="flex-w flex-m m-r-20 m-tb-5">
							<input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Mã giảm giá">

							<div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">Áp dụng</div>
						</div>

						<div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">Cập nhập</div>
					</div>
				</div>
			</div>

			<div class="col-sm-10 col-lg-7 col-xl-4 m-lr-auto m-b-50">
				<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm" style="
    margin: 0px;
    margin-left: 30px;
">
					<h4 class="mtext-109 cl2 p-b-30">Tổng giá trị giỏ hàng</h4>

					<div class="flex-w flex-t bor12 p-b-13">
						<div class="size-208">
							<span class="stext-110 cl2">Tổng tiền</span>
						</div>

						<div class="size-209">
							<span class="mtext-110 cl2" style="font-weight:bold">@{Html.RenderAction("tong", "Cart"); }</span>
						</div>
					</div>
					<div class="flex-w flex-t bor12 p-b-13" style="
    padding-top: 10px;
">
						<div class="size-208">
							<span class="stext-110 cl2">
								Phí ship

							</span>
						</div>

						<div class="size-209">

							@{Html.RenderAction("phitong", "Cart"); }

						</div>
					</div>

					<div class="flex-w flex-t bor12 p-t-15 p-b-30">
						<div class="bor8 bg0 m-b-15" style="width: 100%;">
							<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="state" placeholder="Nhập thành phố"
								   style="height: 30px;">
						</div>
						<div class="bor8 bg0 m-b-15" style="width: 100%;">
							<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="state" placeholder="Nhập huyện, tỉnh"
								   style="height: 30px;">
						</div>
						<div class="bor8 bg0 m-b-15" style="width: 100%;">
							<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="state" placeholder="Nhập quận, xã"
								   style="height: 30px;">
						</div>
						<div class="bor8 bg0 m-b-15" style="width: 100%;">
							<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="state" placeholder="Nhập địa chỉ"
								   style="height: 30px;">
						</div>
						<div class="bor8 bg0 m-b-15" style="width: 100%;">
							<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="state" placeholder="Số điện thoại"
								   style="height: 30px;">
						</div>
						<div class="flex-w">
							<div class="flex-c-m stext-101 cl2 size-115 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer">Lưu địa chỉ</div>
						</div>
					</div>


					<div class="flex-w flex-t p-t-27 p-b-33">
						<div class="size-208">
							<span class="mtext-101 cl2">Tổng tiền</span>
						</div>

						<div class="size-209 p-t-1">

							@{Html.RenderAction("phithanhtoan", "Cart"); }
						</div>
					</div>

					<button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">Thanh toán</button>
				</div>
			</div>
		</div>
	</div>
</form>




