﻿
@{
	ViewBag.Title = "Lienhe";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('../../Asserts/images/Bowen-2017-Fall-Winter-Campaign-004.jpg');margin-top: 20px;height:200px;">
	<h2 class="ltext-105 cl0 txt-center">
		Liên hệ
	</h2>
</section>
<section class="bg0 ">
	<div class="container" style="padding:0 60px;">
		<div class="flex-w flex-tr">
			<div class=" bor10 p-lr-60 p-t-55 p-b-60 p-lr-15-lg w-full-md" style="
    width: 57%;
">

				<h4 class="mtext-105 cl2 txt-center p-b-30" style="font-size:23px;">Hãy gửi phản hồi về cho chúng tôi</h4>
				@if (ViewBag.thanhcong == null)
				{
					@Html.ValidationSummary(true, "", new { @class = "text-danger", @style = "padding-bottom:15px;text-align:center;" })
				}
				else
				{
					<h2 style="padding-bottom: 20px;font-family:robotom; font-size: 15px; text-align: center;color: #0e95e6eb;">@ViewBag.thanhcong</h2>
				}
				@using (Html.BeginForm())
				{

					<div class="bor8 m-b-20 how-pos4-parent">
						<input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" id="txtTaiKhoan" name="txtTaikhoan" placeholder="Email của bạn" style="padding-left:27px;">
					</div>

					<div class="bor8 m-b-30">
						<textarea class="stext-111 cl2 plh3 size-120 p-lr-28 p-tb-25" id="txtMatKhau" name="txtMatKhau" placeholder="Chúng tôi có thể giúp gì cho bạn"></textarea>

					</div>

					if (ViewBag.thanhcong == null)
					{
						<button type="submit" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">Gửi</button>

					}
					else
					{
						<div class="flex-c-m stext-101 cl2 size-119 bg3 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10" style="
    ">
							<a href="/Trangchu/Trangchu" style="color:white;">Quay trở lại mua sắm</a>
						</div>}
				}
			</div>

			<div class="size-210 bor10 flex-w flex-col-m p-lr-50 p-tb-30 p-lr-15-lg w-full-md" style="width:42%;">
				<div class="flex-w w-full p-b-42" style="

    width: 300px;
    font-size: 14px;
;
">
					<span class="fs-18 cl5 txt-center size-211">
						<span class="lnr lnr-map-marker"></span>
					</span>

					<div class="size-212 p-t-2" style="
">
						<span class="mtext-110 cl2" style="
">Địa chỉ</span>

						<p>35/1c, ấp Bắc Lân, xã Bà Điểm, huyện Hóc Môn, thành phố Hồ Chí Minh</p>
					</div>
				</div>

				<div class="flex-w w-full p-b-42" style="
    width: 300px;
    font-size: 14px;
">
					<span class="fs-18 cl5 txt-center size-211">
						<span class="lnr lnr-phone-handset"></span>
					</span>

					<div class="size-212 p-t-2">
						<span class="mtext-110 cl2">SĐT: </span>
						<span class="mtext-110 cl2" style="color: #717fe0;">0902555577</span>

					</div>
				</div>

				<div class="flex-w w-full" style="
    width: 300px;
    font-size: 14px;
">
					<span class="fs-18 cl5 txt-center size-211">
						<span class="lnr lnr-envelope"></span>
					</span>

					<div class="size-212 p-t-2">
						<span class="mtext-110 cl2">Email liên hệ</span>

						<p class="stext-115 cl1 size-213 p-t-18">
							blizzard@gmail.com
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="size-210 bor10 flex-w flex-col-m p-lr-50 p-tb-30 p-lr-15-lg w-full-md" style="width:99%;">



		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3191.207607989638!2d106.78896371411714!3d10.866932360489747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276120e747b7%3A0x4621264c786596c7!2zxJDhuqFpIGjhu41jIE7DtG5nIEzDom0!5e1!3m2!1svi!2s!4v1561871502969!5m2!1svi!2s" width="970" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>


		</div>
	</div>
</section>



