﻿@using trangwebbanhangasp.Models;


<div class="menu-desktop">
	<ul class="main-menu">


		<li style="padding-top: 17px;">
			<i class="zmdi zmdi-account-box" style="font-size: 35px;"></i>
			<a class="Danhsachsanpham" href="/Home/Danhsachsanpham"></a>
			<a href="/Views/Home/Danhsachsanpham.cshtml"></a>
			<ul class="sub-menu" style="left: -140px;">
				@{
					var session = (user)Session["Taikhoan"];
				}
				@if (Session["Taikhoan"] == null)
				{
					<li><a href="~/Dangkydangnhap/Dangnhap">Đăng nhập</a></li>
					<li><a href="~/Dangkydangnhap/Dangky">Đăng ký</a></li>
				}
				else
				{
					<li><a href="~/Thongtin/Details">@session.ten_khach_hang</a> </li>
					<li>@Html.ActionLink("Thoát", "Logout", "Home")</li>
				}

			</ul>
		</li>
	</ul>
</div>
