﻿
@{
    ViewBag.Title = "Thongtin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('../../Asserts/images/quan.jpg');margin-top: 20px;height:200px;">
	<h2 class="ltext-105 cl0 txt-center">Câu chuyện về Blizzard</h2>
</section>
<section class="bg0 p-t-75 p-b-120">
	<div class="container">
		<div class="row p-b-148">
			<div class="col-md-7 col-lg-8">
				<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
					<h3 class="mtext-111 cl2 p-b-16">Tiếu sử Blizzard</h3>

					<p class="stext-113 cl6 p-b-26" style="
    text-align: justify;
">
						Blizzard là một nhãn hiệu thời trang của Ý chuyên về các sản phẩm cao cấp cho nam và nữ (giày dép, túi xách, phụ kiện thời trang...), nhãn hiệu Prada được thành lập bởi Mario Prada năm 1913.

						Blizzard được xem là một trong những nhà thiết kế có ảnh hưởng nhất trong ngành công nghiệp thời trang.[2] Cũng giống như những thương hiệu thời trang khác, Blizzard phải đấu tranh chống lại hàng nhái và đảm bảo hàng chính hãng từ các cửa hàng chính thức của hãng trên thế giới cũng như những cửa hàng online trên mạng.
					</p>

					<p class="stext-113 cl6 p-b-26" style="
    text-align: justify;
">
						Ban đầu các cửa hàng bán đồ da, được thành lập vào năm 1913 bởi Mario Blizzard và anh trai Martino tại Milan, Ý.

						Mario Prada không tin rằng phụ nữ có thể kinh doanh do đó ông ngăn cản việc các người phụ nữ trong gia đình tham gia vào công việc của công ty. Nhưng con trai ông không có tài kinh doanh nên người kế nghiệm của Prada là con gái của ông Luisa Prada và đã điều hành công ty trong vòng 20 năm. Con gái riêng của Luisa, Miuccia Blizzard vào làm cho Blizzard và thay thế vị trí của mẹ mình vào năm 1978.

						Miuccia gặp Patrizio Bertelli vào năm 1977 một người Ý làm trong lĩnh vực kinh doanh đồ da ở tuổi 17, sau đó ông cũng gia nhập công ty. Ông là người đã đưa ra lời khuyên với Miuccia nên dừng nhập khẩu da từ anh và thay đổi phong cách hiện có.
					</p>


				</div>
			</div>

			<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
				<div class="how-bor1 ">
					<div class="hov-img0">
						<img src="~/Asserts/images/Bowen-2017-Fall-Winter-Campaign-004.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
				<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
					<h3 class="mtext-111 cl2 p-b-16">Sứ mệnh của Blizzard</h3>

					<p class="stext-113 cl6 p-b-26">
						Miuccia thừa kế công ty vào năm 1978 lúc đó doanh số bán hàng đã lên đến 450.000 USD. Cùng với Bertelli làm quản lý kinh doanh, Miuccia đã cho những ý tưởng của mình vào trong các bộ sưu tập của hãng. Bà cho ra đời bộ sưu tập của mình gồm có balo và túi xách, nó không được thành công như mong đợi do quảng cáo ít và có giá quá cao, nhưng đây cũng có thể coi là những bước đầu trong sự thành công trong thương mại của hãng về sau này.

						Sau đó, Miuccia và Bertelli tìm ra các địa chỉ bán buôn cho túi xách trong các của hàng bách hóa cao cấp và các cửa hàng thời trang trên thế giới. Vào năm 1983, Prada mở cửa hàng thứ hai tại Milan, cửa hàng này được đặt trong khu Galleria Vittorio Emanuele II.

					</p>

					<div class="bor16 p-l-29 p-b-9 m-t-22">
						<p class="stext-114 cl6 p-r-40 p-b-11" style="
    text-align: justify;
">

							Sáng tạo là thứ kết nối mọi thứ. Khi bạn hỏi một người có óc sáng tạo làm một điều gì đó, học nói rằng họ thấy một thứ. Nó trong có vẻ càng lúc càng rõ ràng
						</p>

						<span class="stext-111 cl8">
							- Steve Job’s
						</span>
					</div>
				</div>
			</div>

			<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
				<div class="how-bor2">
					<div class="hov-img0">
						<img src="~/Asserts/images/schoen_mag_01_by_sandro_baebler.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
