﻿<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Asserts/automenu/jquery-ui.css" rel="stylesheet" />
<script src="~/Asserts/automenu/jquery-ui.js"></script>

@using (Html.BeginForm("Trangtimkiem", "Timkiem", FormMethod.Post))
{
	<div class="" style="display: block;">
		<div class="bor8 dis-flex p-l-15">
			<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04" style="height: 40px;">
				<i class="zmdi zmdi-search"></i>
			</button>
			<div style="border: none; padding-top: 4px;">
				@Html.TextBox("txtTimKiem", "", htmlAttributes: new { @class = "form-control", @id = "searchInput", @style = "border:none;", @placeholder = "Tìm kiếm sản phẩm" })
			</div>

		</div>
	</div>
}
<script>
		$("#searchInput").autocomplete({
			source: function (request, response) {
				$.ajax({
					url: '@Url.Action("GetSearchValue","Home")',
					dataType: "json",
					data: { search: $("#searchInput").val() },
					success: function (data) {
						response($.map(data, function (item) {
							return { label: item.ten_sp, value: item.ten_sp };
						}));
					},
					error: function (xhr, status, error) {
						alert("Error");
					}
				});
			}
		});
</script>
